<!DOCTYPE html>
<html 
	class="h-100" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout}"
>

<head>

<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="../static/assets/bootstrap/css/bootstrap.min.css" th:remove="tag" />
<link rel="stylesheet" type="text/css" href="../static/assets/css/common.css" th:remove="tag" />

<meta name="redirect" th:content="${redirect}"  id="redirect_url">
<meta name="confime"  th:content="${confime}"  id="confime_msg">

<script th:src="@{/assets/js/users/form.js}"></script>

</head>

<body class="h-100">

	<div class="container-fluid">

		<div class="row">
			<div class="col-md-10" layout:fragment="contents">
				<div class="card mx-auto" id="form-card">
					<div class="card-body">
						<form novalidate th:object="${form}" method="POST" th:method="${method}" th:action="${action}" id="form1" class="was-validated">

							<div class="mb-3">
								<label class="form-label" for="username">アカウント</label>
								<!--  -->
								<input class="form-control" th:field="*{username}" required pattern="[\w]{8,32}">
								<div class="invalid-feedback">[必須] 半角英数 8 文字以上 32 文字以下で入力してください。</div>
							</div>

							<div class="mb-3">
								<label class="form-label" for="email">メールアドレス</label>
								<!--  -->
								<input class="form-control" th:field="*{email}" type="email" required>
								<div class="invalid-feedback">[必須] 正しいメールアドレス形式で入力してください。</div>
							</div>

							<div class="mb-3">
								<label class="form-label" for="password">パスワード</label>
								<!--  -->
								<input class="form-control" th:field="*{password}" required pattern="[\w]{8,32}" th:required="${passwordRequired}">
								<div class="invalid-feedback">[必須] 半角英数 8 文字以上 32 文字以下で入力してください。</div>
							</div>

							<div class="mb-3">
								<button type="button" id="btn1" class="btn btn-block btn-primary" th:text="${button}">登録</button>
							</div>

						</form>
					</div>
				</div>
			</div>
			<div class="col" layout:fragment="sidenavi">
				<nav class="list-groupe">
					<!--  -->
					<a href="#" class="list-group-item" th:href="@{/users}">一覧</a>
					<!--  -->
					<a href="#" class="list-group-item" th:href="@{/users/add}">新規登録</a>
				</nav>
			</div>
		</div>
	</div>
</body>

</html>