<!DOCTYPE html>
<html 
	class="h-100" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout}"
>

<head>

<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="../static/assets/bootstrap/css/bootstrap.min.css" th:remove="tag" />
<link rel="stylesheet" type="text/css" href="../static/assets/css/common.css" th:remove="tag" />


</head>

<body class="h-100">

	<div class="container">

		<div class="row">
			<div class="col-md-8" layout:fragment="contents">
				<div class="card mx-auto" id="form-card">
					<div class="card-body">
						<form novalidate th:object="${form}" method="POST" th:action="@{/login}">

							<div class="mb-3">
								<label class="form-label" for="username">アカウント</label>
								<!--  -->
								<input class="form-control" th:field="*{username}" th:errorclass="is-invalid">
							</div>

							<div class="mb-3">
								<label class="form-label" for="password">パスワード</label>
								<!--  -->
								<input class="form-control" th:field="*{password}" th:errorclass="is-invalid">
							</div>

							<div class="mb-3">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="remember-me" name="remember-me"> <label class="custom-control-label"
										for="remember-me">ログイン状態を維持する</label>
								</div>
							</div>

							<div class="mb-3">
								<input type="submit" value="Login" name="submit" class="btn btn-block btn-primary">
							</div>

						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4" layout:fragment="sidenavi" th:remove="tag"></div>

		</div>

	</div>

</body>

</html>

